<html>

<head>
	<meta charset="UTF-8">
	<title>QRecruiter - Recruiter</title>
	<meta name="description" content="Recruiter">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="main.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<style>
		@import url('https://fonts.googleapis.com/css?family=Raleway');

		body {
			background-color: #303641;
			margin: 0;
			padding: 0;
			font-family: 'Raleway', sans-serif;
			color: #F2F2F2;
		}

		.container {
			background-color: #1D1F20;
			position: relative;
			top: 20%;
			margin: auto;
			width: 340px;
			border-radius: 0.35em;
			box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
			text-align: center;
		}

		#list-item {
			background-color: #373b3d;
		}
	</style>
</head>

<body>
	<div ng-controller="RecruiterCtrl">

		<span style="display: flex; flex-direction: row">
			<div class="container">

				<div id="title-block">
					<p>BackEnd Positions</p>
				</div>

				<div ng-if="backendApplicants !== null" ng-repeat="user in backendApplicants">
					<div id="list-item">
						<p>{{user.name}}</p>
					</div>
				</div>

			</div>
			<div class="container">

				<div id="title-block">
					<p>FrontEnd Positions</p>
				</div>

				<div ng-if="frontendApplicants !== null" ng-repeat="user in frontendApplicants">
					<div id="list-item">
						<p>{{user.name}}</p>
					</div>
				</div>

			</div>
		</span>

	</div>

</body>

</html>