<html>

<head>
    <meta charset="UTF-8">
    <title>QRecruiter - Recruiter</title>
    <meta name="description" content="Recruiter">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Raleway');
		body {
			background-color: #303641;
		    margin: 0;
		    padding: 0;
		    font-family: 'Raleway', sans-serif;
		    color: #F2F2F2;
		}
    </style>
</head>

<body>
	.
    <div ng-controller="RecruiterCtrl">
  		<div ng-controller="BoardPageCtrl">
			<div id="board­-page">
  <div ng­-repeat="list in lists" class="list">
    <input class="list­-name" ng­-model="list.name"/>
    <div class="list­-content">
      <div ng­-repeat="ticket in list.tickets" class="ticket">
        <input class="ticket­-title" ng­-model="ticket.title"/>
      </div>
    </div>
    <button class="add­-ticket"> Add Ticket </button>
  </div>
</div>
        </div>
    </div>
</div>

	</div>
</body>

</html>
